.wp-block-scm-live-posts {
	.post-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), 1fr));
		gap: 2rem 1rem;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}