@keyframes placeHolderShimmer{
	0%{
		background-position: -468px 0
	}
	100%{
		background-position: 468px 0
	}
}

.wp-block-scm-live-query {
	border: 1px dashed;
	.post-grid {
		transition: opacity 0.2s;
		&.in-load-more {
			opacity: 0.7;
		}
	}
	.post-card {
		&.loading {
			aspect-ratio: 1.333;
			animation-duration: 1.8s;
			animation-fill-mode: forwards;
			animation-iteration-count: infinite;
			animation-name: placeHolderShimmer;
			animation-timing-function: linear;
			background: #f6f7f8;
			background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
			background-size: 1000px 640px;
			position: relative;
		}
	}
}